body {
    background-color: #bfe4ff;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

textarea#postbody {
    height: 32em;
}

table#postlist {
    background-color: white;
    border: thin solid black;
    width: 100%;
}

.blogpost {
    background-color: white;
    border: thin dashed black;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#editingControls {
    margin: 1em;
    text-align: center;
}

input#posttitle, textarea#postbody {
    font-size: 1.4em;
    border: thin solid black;
    padding: 4px;
    width: 80%;
}

#navigation {
    background-color: white;
    border: thin dashed black;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-align: center;
}
