body {
    background-color: #6a7b6c;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.blogpost, .error, .message, #footer {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.blogpost, .message, #header, #footer, #navigation,
input#posttitle, textarea#postbody, table#postlist {
    background-color: #fdfeea;
    border: thin dashed black;
}

.error {
    background-color: red;
    border: medium dashed white;
    color: white;
    font-weight: bold;
    text-align: center;
}

.button {
    background-color: #fdfeea;
    border: medium solid black;
    color: black;
    padding: 0.4em;
    font-size: large;
    font-weight: bold;
}

table#postlist {
    border: thin solid black;
    width: 100%;
}

textarea#postbody {
    height: 32em;
}

input#posttitle, textarea#postbody {
    border: thin solid black;
    font-size: 1.4em;
    padding: 4px;
    width: 80%;
}

#header, #footer, #navigation {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    text-align: center;
}

#header {
    font-size: 24pt;
}

#editing {
    margin: 1em;
    text-align: center;
}
