body {
    background-color: #b4c9d5;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

form {
    text-align: center;
}

input#posttitle {
    border: thin solid black;
    padding: 4px;
    width: 80%;
}

textarea#postbody {
    border: thin solid black;
    padding: 4px;
    height: 340;
    width: 80%;
}

table#postlist {
    background-color: white;
    width: 100%;
}

table#postlist, th {
    border: thin solid black;
}

table#postlist, td {
    border: thin solid black;
}

table#postlist, tr {
    border: thin solid black;
}

.blogpost {
    background-color: white;
    border: medium dotted black;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
}

#navigation {
    text-align: center;
}
